@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?bo1xla#iefix") format("embedded-opentype"),
    url("../fonts/icons.ttf?bo1xla") format("truetype"), url("../fonts/icons.woff?bo1xla") format("woff"),
    url("../fonts/icons.svg?bo1xla#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e901";
}
.icon-rsschool:before {
  content: "\e900";
}
