* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body {
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   max-width: 1000px;
   margin: 0 auto;
}
.header {
   height: 80px;
   padding-top: 20px;
   background-color: cadetblue;
   margin-bottom: 20px;
}
.main {
   display: flex;
}
.wrap-info {
   padding: 180px 40px;
   margin: 20px 0;
}
.wrap-additional {
   padding: 0 40px;
}
.color-white {
   color: white;
}
h1 {
   color: white;
   text-align: center;
}
h3 {
   padding: 15px 0;
}

h4 {
   padding: 10px 0;
   text-decoration: underline;
}
.main-info {
   width: 40%;
   color: white;
}
.main-info .foto {
   width: 100%;
}
.additional-info {
   width: 60%;
   color: cadetblue;
}
.divider {
   height: 1px;
   width: 100%;
   margin: 20px auto;
}

.blue {
   background-color: cadetblue;
}
.white {
   background-color: white;
}
ul {
   padding: 5px 0px 5px 30px;
}

li {
   padding-bottom: 5px;
}

.pick:hover {
   color: rgb(13, 84, 87);
}

.pick a:hover {
   color: rgb(13, 84, 87);
}
a {
   cursor: pointer;
   color: cadetblue;
   text-decoration: none;
   transition: all 0.3s ease;
}

.footer {
   height: 80px;
   background-color: cadetblue;
   padding: 0 20px;
   color: white;
}
.footer-nav {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
}
.github {
   font-size: 25px;
}
.rsschool {
   font-size: 40px;
}
.footer p {
   font-size: 14px;
}

.footer a {
   color: white;
}
